/* reset */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #7a00ff94;
  padding: 3%;
}

h1 {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.h1-topline {
  font-size: 2.4em;
  letter-spacing: 7px;
}
h1, .weather-list {
  color: #ffffff;
  text-shadow: 0.5px 0.5px 1.5px #b57070;
}
h1, h2, .weather-list {
  font-family: 'Questrial', sans-serif;
}
section {
  margin: 5% 0;
}
section:first-child {
  margin-top: 0;
}
.section-banner {
  background-color: #211a1ac2;
  color: white;
  width: 110%;
  margin-left: -5%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}
.section-content{
  display: none;
}
.hamburger {
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 2em;
  border: none;
}
h2 {
  padding: 5% 0 5% 7%;
  margin: 0;
}
.weather-list {
  min-width: 160px;
  text-align: right;
  padding: 5%;
}

.current-temp {
  font-size: 2.5em;
}


main {
  position: relative;
}

/* events section */
.events-links-list {
  display: flex;
  flex-wrap: wrap;
}
.event-link {
  text-decoration: none;
  background-color: #f1f2f7;
  border: 1px solid #c721d2;
  width: 45%;
  min-height: 50px;
  margin: 2%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  transition: .2s all;
}
.event-link:hover {
  background-color: #ff4868;
  color: white;
}

@media screen and (min-width: 560px){
  .event-link {
    width: 29%;
  }
}


/* news section */

.news-articles-container > li {
  list-style: none;
  padding: 3%;
  border: .5px solid grey;
  background-color:white;
  margin: 3%;
  height: 450px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 3px #0000006b;
  hyphens: auto;
}
.news-articles-container > li:last-child {
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}
#news-refresh-btn {
  height: 250px;
  width: 250px;
  background-color: green;
  color: white;
  font-size: 2em;
  box-shadow: 2px 2px 5px black;
  border-radius: 50%;
  transition: background-color .2s;
}

#news-refresh-btn:hover {
  cursor: pointer;
  background-color: #27ce27;
  text-shadow: .5px .5px 1px black;
}

#news-articles {
  padding: 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  
}
.article-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

#news-articles::-webkit-scrollbar, .api-pictures::-webkit-scrollbar {
  height: 20px;
  background-color: #828282;
  background-color: #828282ab;
}
#news-articles::-webkit-scrollbar-thumb{
  background-color:#26212d;
  background-color:#26212db3;
  border-radius: 50%;
}
.api-pictures::-webkit-scrollbar-thumb{
  background-color:#26212d;
  background-color:#26212db3;
  border-radius: 20px;
}


/* @media screen and (min-width: 550px){
  .news-articles-container > li {
    width: 45%;
    margin: 1%;
  }
}
@media screen and (min-width: 750px){
  .news-articles-container > li {
    width: 30%;
    margin: 1%;
  }
} */

/* weather section */


.weather-section ul {
  list-style: none;
  padding: 5%;
  background-color: #211a1ac2;
  color: white;
}

/* pictures section */
.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#pics-refresh-btn {
  height: 48px;
  font-size: 1.2em;
  border-radius: 9px;
  background-color: #049209;
  color: white;
  margin: 5%;
  transition: .1s all;
}
#pics-refresh-btn:hover {
  background-color: #03e003;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.475);
}
.api-pictures {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5%;
}
.row {
  list-style: none;
  display: flex;
  padding: 0;
}

.row li {
  margin-right: 2%;
  min-width: 30vw;
  height: 145px;
}
.row li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* @media screen and (min-width: 450px){
  .row {
    justify-content: flex-start;
  }
  .row li {
    width: 40%;
  }
}
@media screen and (min-width: 650px){
  .row li {
    width: 25%;
  }
}
@media screen and (min-width: 850px){
  .row li {
    width: 16%;
  }
} */
.gallery-img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px blue;
}

/* footer section */
.site-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 5% 5% 1%;
  position: fixed;
  bottom: 1%;
}


/* lightbox section */

.lightbox {
  top: -10vh;
  left: 0;
  position: fixed;
  height: 110vh;
  width: 100vw;
  background-color: #000000c7;
  display: none;
  justify-content: center;
  align-items: center;
}

.lightbox-photo {
  display: none;
  width: 80%;
  height: auto;
  object-fit: contain;
}



  /* loading spinner */

#loading-spinner-overlay {
  height: 100vh;
  width: 100vw;
  background-color: #000000c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    animation: spin 1s infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}


