/* reset */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  text-decoration: none;
}

main {
  position: relative;
}

section {
  border-bottom: 1px solid black;
}

ul.news-articles-container {
  padding: 0;
  margin: 0% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-articles-container > li {
  list-style: none;
  padding: 3%;
  border: .5px solid grey;
  margin-bottom: 3%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 3px #0000006b;
  hyphens: auto;
}

.article-img {
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (min-width: 550px){
  .news-articles-container > li {
    width: 45%;
    margin: 1%;
  }
}
@media screen and (min-width: 750px){
  .news-articles-container > li {
    width: 30%;
    margin: 1%;
  }
}

/* weather section */
.weather-section {
  background-position: bottom;
  padding: 10%;
}

.weather-section ul {
  list-style: none;
  padding: 5%;
  background-color: #211a1ac2;
  color: white;
}

/* pictures section */
#picture-gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#picture-gallery li {
  margin: 2%;
}
.gallery-img:hover {
  cursor: pointer;
  box-shadow: -1px -1px 0px blue;
  border: 1px inset blue;
}

/* lightbox section */

.lightbox {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000000c7;
  display: none;
  justify-content: center;
  align-items: center;
}

.lightbox-photo {
  width: 80%;
  height: auto;
  object-fit: contain;
}



  /* loading spinner */

#loading-spinner-overlay {
  height: 100vh;
  width: 100vw;
  background-color: #000000c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    animation: spin 1s infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
